{% extends 'base.html' %}
{% load crispy_forms_filters %}


{% block content %}
	<h1>
		Guard List
		<a href="{% url 'security:guard-created' %}" class="btn btn-primary link-to-page">
			Create
		</a>
	</h1>

	<form method="get" action="" class="form-inline">
		{{ search_form|crispy }}
		<input type="submit" class="btn btn-secondary">
	</form>

	{% if guard_list %}
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Badge number</th>
			</tr>
			{% for guard in guard_list %}
				<tr>
					<td>{{ guard.id }}</td>
					<td><a href="{{ guard.get_absolute_url }}">{{ guard.username }}</a></td>
					<td>{{ guard.first_name }}</td>
					<td>{{ guard.last_name }}</td>
					<td>{{ guard.badge_number }}</td>
				</tr>
			{% endfor %}

		</table>
	{% else %}
		<p>There are no drivers in the service.</p>
	{% endif %}
{% endblock %}
