{% extends 'base.html' %}
{% load static %}

{% block image %}
	<header class="img-fluid"
					style="
							background-image: url('{% static 'img/security-agence-2.png' %}');
							background-position: center;
							background-size: cover;
							display: flex;
							align-items: center;
							justify-content: center;
							height: 550px;
							user-select: none;
							">
		<div class="text-center my-5" style="margin: 0 50px">
			<h1 class="text-black-500 fs-3 fw-bolder" style="color: #20b0d6; ">Security Agence</h1>
			<p class="text-black-500 mb-0" style="color: #11bae8">Comprehensive protection services, real-time monitoring, <br/>
				and expert consultancy for corporate and private security.</p>
		</div>
	</header>
{% endblock %}


{% block content %}

	<h1>Security Agency</h1>
	<p>Welcome to Best Security Agency!</p>


	<ul>
		<li><strong>Guard</strong> {{ num_guard }}</li>
		<li><strong>Client</strong> {{ num_client }}</li>
	</ul>

	<p>You have visited this page
		{{ num_visits }} time{{ num_visits|pluralize }}.
	</p>

{% endblock %}